<header class="app-header">
    <mat-toolbar color="primary" role="banner">
        <a mat-icon-button class="app-header-logo" routerLink="/" [attr.aria-label]="appTitleFull">
            <img [src]="appLogoUrl" alt="appTitleFull" role="presentation" aria-hidden="true">
        </a>
        <h1 role="presentation" aria-hidden="true">{{appTitle}}</h1>
    </mat-toolbar>
</header>
<main class="container content">
    <router-outlet></router-outlet>
    <div class="container about-section">
        <div fxLayout="column" class="about-content" *ngIf="aboutContentVisible">
            <h2>Convert Unicode Code Point Numbers to Text and Vice Versa</h2>
            <p>{{appDescription}}</p>
            <div>Version: {{appVersion}}</div>
            <div class="features" *ngIf="aboutFeaturesVisible">
                <h3>Features</h3>
                <ul>
                    <li>Ability to use offline (Progressive Web Application - PWA)</li>
                    <li>On the fly converting Unicode hex numbers in UTF-32, UTF-16, and UTF-8 formats to their Unicode
                        characters</li>
                    <li>Auto detect Zawgyi and Myanmar Unicode font encodings and display correctly</li>
                    <li>Custom fonts can be used for input/output text boxes</li>
                    <li>Supported input code point formats: C style (\U000000), JavaScript/Java style (\u0000), ES6
                        style
                        (\u&#123;0000}), U+HEX style (U+0000), \x hex numbers style (\x00)</li>
                    <li>Supported output code point formats: JavaScript/Java style (\u0000), ES6 style (\u&#123;0000}),
                        U+HEX
                        style
                        (U+0000)</li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer class="app-footer">
    <div class="container">
        <div fxLayout="column" class="footer-section-grid">
            <h3>Community and Links</h3>
            <div class="nav-links">
                <a class="nav-link-item" target="_blank" rel="noopener" *ngFor="let navLink of navLinks"
                    [href]="navLink.url" [attr.title]="navLink.title">
                    <mat-icon svgIcon="{{navLink.iconName}}"></mat-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
